“files”: [“lib/**/*”]
/cypress
/build
/instrumented
/doc
/lib/cypress
/libdev
/libtest
/plot_data
/plot_data.egg-info
/script
/src
.drone.yml
.gitattributes
.gitignore
.pep8
.pre-commit-config.yaml
.prettierrc
.pydocstylerc
.pylintrc
CHANGELOG.md
code_changelog.sh
code_pep8.sh
code_pylint.py
commitlint.config.js
cypress_run_report.cjs
cypress.config.ts
ISSUE_TEMPLATE.md
set_version.sh
setup.py
tsconfig.json
tslint.json
webpack-dev.config.cjs
webpack.config.js
