<!DOCTYPE html>
<html lang="en">
  <head>
      <script src=$core_path></script>
  </head>
    <div id="buttons">
        <button name="select" value="OK" type="button" onclick="plot_data.switchSelectionMode()"> Draw selection window </button>
        <button name="mergeON" value="OK" type="button" onclick="plot_data.switchMerge()"> Switch Point Merge </button>
        <hr style="border-top: 2px;">
    </div>
    <div id="app">
        <canvas id="$canvas_id" width="$width" height="$height" style="border: 1px solid black;"></canvas>

        <script type="text/javascript">
            var buttonsContainer = document.querySelector("#buttons");
            var width = 0.95*window.innerWidth;
            var height = Math.max(0.95*window.innerHeight, 350) - buttonsContainer.scrollHeight;

            var data = $data;

            var plot_data = new PlotData.ParallelPlot(data, width, height, true, 0, 0, $canvas_id.id);
            plot_data.define_canvas($canvas_id.id);
            plot_data.draw_initial();
            plot_data.mouse_interaction(plot_data.isParallelPlot);
        </script>
    </div>
</html>
