<div id="app"></div>
<canvas id="canvas" width="490" height="490"
            style="border: 1px solid black;">
</canvas>


<script>var exports = {};</script>
<!-- Sets the basepath for the library if not in same directory -->
<script type="text/javascript" src="../../lib/core.js"></script>

<script type="text/javascript">
	var width = 750,
			height = 400;
	var show_state = 1
	var coeff_pixel = 1000

  	var D3Data = [
  {
    "name": "",
    "package_version": null,
    "object_class": "plot_data.plot_data.MultiplePlots",
    "points": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9486952979715162,
        "cy": 0.05535077691553136,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.22552370229234153,
        "cy": 0.4109014743863356,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6893324513001065,
        "cy": 0.2391419548255781,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6497080418345458,
        "cy": 0.18817543957291538,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4790129969258785,
        "cy": 0.11536488982740556,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9102026165376214,
        "cy": 0.1906083537210309,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.10647078479563188,
        "cy": 0.3018766541927651,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9765974271388302,
        "cy": 0.5194025240796115,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9201009922859424,
        "cy": 0.5714964966859112,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9046738042984512,
        "cy": 0.8013496634290579,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8527627753889497,
        "cy": 0.022566767387887543,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5092210082015467,
        "cy": 0.6312400962100864,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6130975748871963,
        "cy": 0.8971887343591066,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5686570355908436,
        "cy": 0.6127068959223806,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5174785292999933,
        "cy": 0.8995512616548952,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8507278165751366,
        "cy": 0.06291815740729068,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6498120857812077,
        "cy": 0.9730107594541277,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8541281025809082,
        "cy": 0.5535765936726106,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.0470013720349944,
        "cy": 0.9484829148725271,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3810785926352993,
        "cy": 0.8980917910672283,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.4115715046688733,
        "cy": 0.6771137054692162,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.16857633922552462,
        "cy": 0.803426327759142,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2765846102460583,
        "cy": 0.8798281834558803,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.049336393105057,
        "cy": 0.15955630423695732,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.7201462687280391,
        "cy": 0.1835455192486083,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.8323425198873591,
        "cy": 0.3708309170632744,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.8309792322198177,
        "cy": 0.9971145378147042,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.177446524122282,
        "cy": 0.6924104944859845,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.3965363001552966,
        "cy": 0.1826864077493323,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9653705142470541,
        "cy": 0.7773815481728994,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.024258012995574507,
        "cy": 0.88525336248655,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.02519496317484471,
        "cy": 0.46232228432271205,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7967433956884031,
        "cy": 0.7324257255094487,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6169683578226348,
        "cy": 0.9630956777939298,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6542240477835686,
        "cy": 0.19364292334755862,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9110552084962684,
        "cy": 0.6339526191151567,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5583492841611724,
        "cy": 0.007539183085265577,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.38134111200040777,
        "cy": 0.393330115874008,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9497354781178873,
        "cy": 0.4031708087926289,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.1467672312744102,
        "cy": 0.586847606081695,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5770460295498712,
        "cy": 0.7741428975604752,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7742785477222276,
        "cy": 0.9405221999912147,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9713761830578402,
        "cy": 0.4939995548130799,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5906641948975162,
        "cy": 0.21305420687948917,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6517401904057125,
        "cy": 0.51545248575947,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5581217905441482,
        "cy": 0.25062553378703345,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.250616453077001,
        "cy": 0.5977986019788862,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.631532766995726,
        "cy": 0.37731167125593423,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.07436287062901781,
        "cy": 0.31560378064946115,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.536806852319242,
        "cy": 0.03656214558004922,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      }
    ],
    "objects": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.ParallelPlot",
        "elements": [],
        "line_color": "rgb(0, 0, 0)",
        "line_width": 0.5,
        "disposition": "vertical",
        "to_disp_attributes": [
          "cx",
          "cy",
          "color_fill",
          "color_stroke"
        ],
        "type": "ParallelPlot"
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Scatter",
        "elements": [],
        "to_display_att_names": [
          "cx",
          "cy"
        ],
        "point_shape": "circle",
        "point_size": 2,
        "color_fill": "rgb(173, 179, 255)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 0.5,
        "axis": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Axis",
          "nb_points_x": 10,
          "nb_points_y": 10,
          "font_size": 12,
          "graduation_color": "rgb(169, 169, 169)",
          "axis_color": "rgb(169, 169, 169)",
          "arrow_on": false,
          "axis_width": 0.5,
          "grid_on": true,
          "type": "axis"
        },
        "tooltip": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Tooltip",
          "colorfill": "rgb(0, 0, 0)",
          "text_color": "rgb(255, 255, 255)",
          "font": "12px sans-serif",
          "tp_radius": 5,
          "to_plot_list": [
            "cx",
            "cy"
          ],
          "opacity": 0.75,
          "type": "tooltip"
        },
        "type": "ScatterPlot"
      }
    ],
    "sizes": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 750,
        "height": 400
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 750,
        "height": 400
      }
    ],
    "coords": [
      [
        0,
        450
      ],
      [
        0,
        0
      ]
    ]
  }
]
	var number_plot_data = D3Data.length

	globalWidth = 1000;
	globalHeight = 1000;
	var plot_data = new MultiplePlots(D3Data, globalWidth, globalHeight, 1000, true);


</script>
