<div id="app"></div>
<canvas id="canvas" width="490" height="490"
            style="border: 1px solid black;">
</canvas>


<script>var exports = {};</script>
<!-- Sets the basepath for the library if not in same directory -->
<script type="text/javascript" src="../../lib/core.js"></script>

<script type="text/javascript">
	var width = 750,
			height = 400;
	var show_state = 1
	var coeff_pixel = 1000

  	var D3Data = [
  {
    "name": "",
    "package_version": null,
    "object_class": "plot_data.plot_data.MultiplePlots",
    "points": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6163263314642202,
        "cy": 0.5613484177499208,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.17423422477490136,
        "cy": 0.5758409050348947,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2180368382530573,
        "cy": 0.4694326565437168,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6301730213022743,
        "cy": 0.2544082115184022,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.0688355169724928,
        "cy": 0.7853763553128232,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9386049580687759,
        "cy": 0.29513893211844267,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6875299664721366,
        "cy": 0.8195644109963612,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.4555652687670435,
        "cy": 0.1418439920280431,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9871207496569083,
        "cy": 0.703015438300977,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.2230968085439209,
        "cy": 0.5271706514484078,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.0241755752055324,
        "cy": 0.958324908886317,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.134676174087644,
        "cy": 0.3882678841139515,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2676942283177919,
        "cy": 0.8405735168027102,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3641594137629782,
        "cy": 0.37182657994798485,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.2333322597145746,
        "cy": 0.5634339913458308,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9565302579560873,
        "cy": 0.9960356688204702,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.929136006923373,
        "cy": 0.5420657514328819,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6797078960318026,
        "cy": 0.7445810346798195,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.2558984312454544,
        "cy": 0.8278513811605983,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.8184283992352261,
        "cy": 0.043452798870414866,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2025277583763512,
        "cy": 0.17156409635747272,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.145269769246317,
        "cy": 0.2860286162876944,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7365541280100074,
        "cy": 0.32022001450176274,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.41517375639993626,
        "cy": 0.4158155921290654,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9224521644929524,
        "cy": 0.4061832758124131,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.10699111958933005,
        "cy": 0.9144981251395695,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.31121553884639175,
        "cy": 0.18194002624360217,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.1715422248076568,
        "cy": 0.714274160089701,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.0123431329025594,
        "cy": 0.7651747292520857,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.810958290209143,
        "cy": 0.5221802118878225,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.7066382714695196,
        "cy": 0.9779548276644441,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9442908545186757,
        "cy": 0.2599344505177079,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5696299069151547,
        "cy": 0.5910292263975044,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5291487621486788,
        "cy": 0.5054962118325533,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9450225498850309,
        "cy": 0.38800800380953604,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.1185879444047375,
        "cy": 0.2087501595644814,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3941964582709823,
        "cy": 0.7004562255175438,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9137722860983051,
        "cy": 0.21009273014311114,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.1287421214048257,
        "cy": 0.9318564036030755,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6924864121720742,
        "cy": 0.06007905564994587,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.8015570703728687,
        "cy": 0.42014115403620045,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.765685353433954,
        "cy": 0.8014974849465125,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.962224215464857,
        "cy": 0.12726936106409414,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5021847024892871,
        "cy": 0.7216286801451598,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.32736252111072806,
        "cy": 0.0005350244073750732,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4465568151737984,
        "cy": 0.005076015838266779,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.39371078879714383,
        "cy": 0.020211094525335982,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4062647445031351,
        "cy": 0.809253850959496,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8014034616922585,
        "cy": 0.7850233127536543,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.65418842636349,
        "cy": 0.10025054110198472,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      }
    ],
    "objects": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.ParallelPlot",
        "elements": [],
        "attribute_list": [
          {
            "name": "cx",
            "package_version": null,
            "object_class": "plot_data.plot_data.Attribute",
            "type": "float"
          },
          {
            "name": "cy",
            "package_version": null,
            "object_class": "plot_data.plot_data.Attribute",
            "type": "float"
          },
          {
            "name": "size",
            "package_version": null,
            "object_class": "plot_data.plot_data.Attribute",
            "type": "float"
          },
          {
            "name": "color_fill",
            "package_version": null,
            "object_class": "plot_data.plot_data.Attribute",
            "type": "color"
          },
          {
            "name": "color_stroke",
            "package_version": null,
            "object_class": "plot_data.plot_data.Attribute",
            "type": "color"
          },
          {
            "name": "stroke_width",
            "package_version": null,
            "object_class": "plot_data.plot_data.Attribute",
            "type": "float"
          }
        ],
        "line_color": "rgb(0, 0, 0)",
        "line_width": 0.5,
        "disposition": "vertical",
        "to_disp_attributes": [
          "cx",
          "cy",
          "color_fill",
          "color_stroke"
        ],
        "type": "ParallelPlot"
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Scatter",
        "serialized_point_list": [],
        "axis": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Axis",
          "nb_points_x": 10,
          "nb_points_y": 10,
          "font_size": 12,
          "graduation_color": "rgb(169, 169, 169)",
          "axis_color": "rgb(169, 169, 169)",
          "arrow_on": false,
          "axis_width": 0.5,
          "grid_on": true,
          "type": "axis"
        },
        "tooltip": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Tooltip",
          "colorfill": "rgb(0, 0, 0)",
          "text_color": "rgb(255, 255, 255)",
          "font": "12px sans-serif",
          "tp_radius": 5,
          "to_plot_list": [
            "cx",
            "cy"
          ],
          "opacity": 0.75,
          "type": "tooltip"
        },
        "type": "ScatterPlot"
      }
    ],
    "sizes": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 560,
        "height": 300
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 560,
        "height": 300
      }
    ],
    "coords": [
      [
        0,
        450
      ],
      [
        0,
        0
      ]
    ]
  }
]
	var number_plot_data = D3Data.length

	globalWidth = 800;
	globalHeight = 800;
	var plot_data = new MultiplePlots(D3Data, globalWidth, globalHeight, 1000, true);


</script>
