<div id="app"></div>
<canvas id="canvas" width="490" height="490"
            style="border: 1px solid black;">
</canvas>


<script>var exports = {};</script>
<!-- Sets the basepath for the library if not in same directory -->
<script type="text/javascript" src="../../lib/core.js"></script>

<script type="text/javascript">
	var width = 750,
			height = 400;
	var show_state = 1
	var coeff_pixel = 1000

  	var D3Data = [
  {
    "name": "",
    "package_version": null,
    "object_class": "plot_data.plot_data.MultiplePlots",
    "points": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7370695000203646,
        "cy": 0.5914565505689466,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7101234063830482,
        "cy": 0.4760914558718482,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.158574969258976,
        "cy": 0.7722085858519601,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3338198508878785,
        "cy": 0.04761769862458931,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.3435036111374914,
        "cy": 0.9411225253503165,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7526195539004723,
        "cy": 0.8907638725000191,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2370228421420049,
        "cy": 0.37127784540643605,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.746261813006074,
        "cy": 0.5760121672591494,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3013696051659163,
        "cy": 0.8826437117986716,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3302005414569567,
        "cy": 0.19399784747542181,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.442811290520529,
        "cy": 0.8603125483843856,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.33785509732372576,
        "cy": 0.6869202803737161,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.24368438454430907,
        "cy": 0.39040247156561636,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.0039436878701522,
        "cy": 0.6380695080356962,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4647197256796214,
        "cy": 0.21504372134024607,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.8156762003159355,
        "cy": 0.16681674815882908,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.7378231461370297,
        "cy": 0.10145933608312518,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.11787689575231197,
        "cy": 0.6230489557357674,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.04017776647655524,
        "cy": 0.06812252274729058,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3819733766128854,
        "cy": 0.04373631832153879,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.5129480785910208,
        "cy": 0.6277592790742841,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6945174856183147,
        "cy": 0.24624448288997103,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.798592925372849,
        "cy": 0.4707247666959987,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2688142500607438,
        "cy": 0.10749111311468518,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4401328569032683,
        "cy": 0.9715393217140211,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9878899506315404,
        "cy": 0.014951288273938879,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8394087582036298,
        "cy": 0.17968431539961294,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.12271779096652735,
        "cy": 0.8444641298791895,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.7389067696444334,
        "cy": 0.4953558965297966,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.1698189716648193,
        "cy": 0.02880140990447788,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.4968544969421385,
        "cy": 0.7119450990343519,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.569771287464603,
        "cy": 0.7745900175129513,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.19766518818606738,
        "cy": 0.28545820081296813,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.7469830138669764,
        "cy": 0.07111097987245552,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.802149839708582,
        "cy": 0.20717241875144132,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2883923949775935,
        "cy": 0.38608106268342635,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.380205792112813,
        "cy": 0.7956281866440394,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9332467930359263,
        "cy": 0.8761237819625567,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.16865352136015876,
        "cy": 0.02721936369034539,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.886248405535091,
        "cy": 0.40777433771702154,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.461898217489511,
        "cy": 0.3941052255065609,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8601532749457892,
        "cy": 0.7761330170861931,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5924462801666328,
        "cy": 0.9360445237145391,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5769057489006384,
        "cy": 0.5201497126919873,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.720649621722566,
        "cy": 0.22966223679232778,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.14483330671291794,
        "cy": 0.40733963108653104,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.446928945916465,
        "cy": 0.9583861801360876,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3083541507962597,
        "cy": 0.08614143819546949,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.4078779252436153,
        "cy": 0.9144731067623798,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.1686631654684696,
        "cy": 0.5430961599639854,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      }
    ],
    "objects": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.ParallelPlot",
        "elements": [],
        "line_color": "rgb(0, 0, 0)",
        "line_width": 0.5,
        "disposition": "vertical",
        "to_disp_attributes": [
          "cx",
          "cy",
          "color_fill",
          "color_stroke"
        ],
        "type": "ParallelPlot"
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Scatter",
        "elements": [],
        "to_display_att_names": [
          "cx",
          "cy"
        ],
        "point_shape": "circle",
        "point_size": 2,
        "color_fill": "rgb(173, 179, 255)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 0.5,
        "axis": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Axis",
          "nb_points_x": 10,
          "nb_points_y": 10,
          "font_size": 12,
          "graduation_color": "rgb(169, 169, 169)",
          "axis_color": "rgb(169, 169, 169)",
          "arrow_on": false,
          "axis_width": 0.5,
          "grid_on": true,
          "type": "axis"
        },
        "tooltip": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Tooltip",
          "colorfill": "rgb(0, 0, 0)",
          "text_color": "rgb(255, 255, 255)",
          "fontsize": 12,
          "fontstyle": "sans-serif",
          "tp_radius": 5,
          "to_plot_list": [
            "cx",
            "cy"
          ],
          "opacity": 0.75,
          "type": "tooltip"
        },
        "type": "ScatterPlot"
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Scatter",
        "elements": [],
        "to_display_att_names": [
          "cx",
          "color_fill"
        ],
        "point_shape": "circle",
        "point_size": 2,
        "color_fill": "rgb(173, 179, 255)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 0.5,
        "axis": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Axis",
          "nb_points_x": 10,
          "nb_points_y": 10,
          "font_size": 12,
          "graduation_color": "rgb(169, 169, 169)",
          "axis_color": "rgb(169, 169, 169)",
          "arrow_on": false,
          "axis_width": 0.5,
          "grid_on": true,
          "type": "axis"
        },
        "tooltip": {
          "name": "",
          "package_version": null,
          "object_class": "plot_data.plot_data.Tooltip",
          "colorfill": "rgb(0, 0, 0)",
          "text_color": "rgb(255, 255, 255)",
          "fontsize": 12,
          "fontstyle": "sans-serif",
          "tp_radius": 5,
          "to_plot_list": [
            "cx",
            "cy"
          ],
          "opacity": 0.75,
          "type": "tooltip"
        },
        "type": "ScatterPlot"
      }
    ],
    "sizes": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 560,
        "height": 300
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 560,
        "height": 300
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Window",
        "width": 560,
        "height": 300
      }
    ],
    "coords": [
      [
        0,
        550
      ],
      [
        0,
        0
      ],
      [
        300,
        300
      ]
    ]
  }
]
	var number_plot_data = D3Data.length

	globalWidth = 1000;
	globalHeight = 1000;
  var plot_data = new MultiplePlots(D3Data, globalWidth, globalHeight, 1000, true);


</script>
