<div id="app"></div>
<canvas id="canvas" width="490" height="490"
            style="border: 1px solid black;">
</canvas>


<script>var exports = {};</script>
<!-- Sets the basepath for the library if not in same directory -->
<script type="text/javascript" src="../../lib/core.js"></script>

<script type="text/javascript">
	var width = 750,
			height = 400;
	var show_state = 1
	var coeff_pixel = 1000

  	var D3Data = [
  {
    "name": "",
    "package_version": null,
    "object_class": "plot_data.plot_data.ParallelPlot",
    "elements": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.8317155669333256,
        "cy": 0.26891778547096457,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.370563455862962,
        "cy": 0.5000285130111136,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.7235523309825944,
        "cy": 0.49443257204828217,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      }
    ],
    "attribute_list": [
      {
        "name": "cx",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "cy",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "size",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "color_fill",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "color"
      },
      {
        "name": "color_stroke",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "color"
      },
      {
        "name": "stroke_width",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      }
    ],
    "line_color": "rgb(0, 0, 0)",
    "line_width": 0.5,
    "disposition": "vertical",
    "to_disp_attributes": [
      "cx",
      "cy",
      "color_fill",
      "color_stroke"
    ],
    "type": "ParallelPlot"
  }
]
	var number_plot_data = D3Data.length

	var plot_data = new ParallelPlot(D3Data, width, height, 1000, true);
	plot_data.draw_initial();


</script>
