<div id="app"></div>
<canvas id="canvas" width="490" height="490"
            style="border: 1px solid black;">
</canvas>


<script>var exports = {};</script>
<!-- Sets the basepath for the library if not in same directory -->
<script type="text/javascript" src="../../lib/core.js"></script>

<script type="text/javascript">
	var width = 750,
			height = 400;
	var show_state = 1
	var coeff_pixel = 1000

  	var D3Data = [
  {
    "name": "",
    "package_version": null,
    "object_class": "plot_data.plot_data.ParallelPlot",
    "elements": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.1907086759796703,
        "cy": 0.05953304648147273,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.22580847126261516,
        "cy": 0.4233580788210184,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.4422047592254823,
        "cy": 0.713756390307582,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.3643541492462228,
        "cy": 0.5997377700907346,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.1608561774166206,
        "cy": 0.5577226723499239,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.2606846894431578,
        "cy": 0.020192654362013007,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.7383624880532618,
        "cy": 0.08863943764625004,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.9009201660333137,
        "cy": 0.17424395013795502,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.6616956439923372,
        "cy": 0.3445304377671107,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.5420364472058405,
        "cy": 0.983966443169259,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.757149798993888,
        "cy": 0.02080686328345771,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.4674857506878356,
        "cy": 0.35796797749098075,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.5183455305832467,
        "cy": 0.41592069687801836,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.9430569776232933,
        "cy": 0.9704556833688257,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.2867312689226946,
        "cy": 0.8748096445060604,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.628747582170537,
        "cy": 0.3397842476598518,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.9622617214711662,
        "cy": 0.2980487163947534,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.686995456234222,
        "cy": 0.9012847738392153,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.8389528464819898,
        "cy": 0.3512695523606302,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.9024831598134309,
        "cy": 0.301316576277063,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.7366616252034206,
        "cy": 0.9845866409394328,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.5788476672811569,
        "cy": 0.2990946041756585,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.0824003771928286,
        "cy": 0.9300777605812903,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.6080415341063077,
        "cy": 0.0948056561938545,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.2698169246841748,
        "cy": 0.8351576060525168,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.8162573073057833,
        "cy": 0.14651932401579926,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.04402574362841327,
        "cy": 0.25930474212271015,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.9324536507625547,
        "cy": 0.03621050320343988,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.7072220456307632,
        "cy": 0.36377186431389186,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.4835853979307316,
        "cy": 0.002005040456293683,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.3344518232197675,
        "cy": 0.4463293678220661,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.04496414439737206,
        "cy": 0.3052417861173069,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.8022825279374763,
        "cy": 0.8249731372372,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.8497184359416643,
        "cy": 0.2238282164805242,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.8191276314947937,
        "cy": 0.36682045544617337,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.4122287042884276,
        "cy": 0.49874323643231044,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.7533087889912768,
        "cy": 0.05760918270918114,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.7521347244494831,
        "cy": 0.17996262012065256,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.2358687014350944,
        "cy": 0.703420938463718,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.9103592599646226,
        "cy": 0.38865913523013784,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.4624417542659056,
        "cy": 0.9036509345779997,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.8014725697942942,
        "cy": 0.6172096157430119,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.2995545398905288,
        "cy": 0.33349736559015397,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.5610364474184428,
        "cy": 0.26268798676923455,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.256689892367503,
        "cy": 0.5596273728050389,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 0.7101005971303229,
        "cy": 0.6731679976791841,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.7534386343646688,
        "cy": 0.08220295044656434,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.1102710780542429,
        "cy": 0.858927162424151,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.9683538799879097,
        "cy": 0.7890125734826678,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.PlotDataPoint2D",
        "type": "point",
        "cx": 1.9632836687473392,
        "cy": 0.9072858669497721,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      }
    ],
    "attribute_list": [
      {
        "name": "cx",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "cy",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "size",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "color_fill",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "color"
      },
      {
        "name": "color_stroke",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "color"
      },
      {
        "name": "stroke_width",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      }
    ],
    "line_color": "rgb(0, 0, 0)",
    "line_width": 0.5,
    "disposition": "vertical",
    "to_disp_attributes": [
      "cx",
      "cy",
      "color_fill",
      "color_stroke"
    ],
    "type": "ParallelPlot"
  }
]
	var number_plot_data = D3Data.length

	var plot_data = new ParallelPlot(D3Data, width, height, 1000);
	plot_data.draw_initial();


</script>
