<div id="app"></div>
<canvas id="canvas" width="490" height="490"
            style="border: 1px solid black;">
</canvas>


<script>var exports = {};</script>
<!-- Sets the basepath for the library if not in same directory -->
<script type="text/javascript" src="../../lib/core.js"></script>

<script type="text/javascript">
	var width = 750,
			height = 400;
	var show_state = 1
	var coeff_pixel = 1000

  	var D3Data = [
  {
    "name": "",
    "package_version": null,
    "object_class": "plot_data.plot_data.ParallelPlot",
    "elements": [
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.05916456931818215,
        "cy": 0.4234840049372026,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.067096323631208,
        "cy": 0.2729280167262388,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.8344887961874632,
        "cy": 0.15881135504207344,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.121735911165173,
        "cy": 0.06444394475262383,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.4922134445839574,
        "cy": 0.12629036669849136,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.09540034971147437,
        "cy": 0.8594817547375357,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8888697958061889,
        "cy": 0.3487116841661714,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6747107172226474,
        "cy": 0.555881291085606,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6905115491943874,
        "cy": 0.08164955345834035,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.686212602963567,
        "cy": 0.057478935836254075,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9308279704250577,
        "cy": 0.350405366893602,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.247818904329568,
        "cy": 0.5915004375591152,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.3113226165040941,
        "cy": 0.38326028918709276,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.3544660003964537,
        "cy": 0.9934112030746632,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.24673213400261296,
        "cy": 0.13693462241978016,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2219874130631,
        "cy": 0.2156377573896322,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9620987227453397,
        "cy": 0.2854496390057515,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.866341892012271,
        "cy": 0.06144066227365552,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.2928676286924672,
        "cy": 0.5655790356040801,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.706926060466866,
        "cy": 0.8170416489987737,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.522591148950679,
        "cy": 0.8807746648839894,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.24405828189805812,
        "cy": 0.7120040390273898,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.1196781858133886,
        "cy": 0.9316882186462747,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5494255875719563,
        "cy": 0.8579570482645525,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.09011001707754018,
        "cy": 0.8126615832653923,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.8983454170147553,
        "cy": 0.1380646603810015,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4157156447314301,
        "cy": 0.37194283468148515,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4613143127990824,
        "cy": 0.613695855934912,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.5154826346670649,
        "cy": 0.8346579218151234,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.9339046785881118,
        "cy": 0.002801928610260185,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4640497861144144,
        "cy": 0.8734261561393586,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6611662665935472,
        "cy": 0.9217706894837553,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.9811514554221512,
        "cy": 0.5106912334760154,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.7872768698257746,
        "cy": 0.37236580977384126,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.947763732227408,
        "cy": 0.16735200918068593,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6912607705886062,
        "cy": 0.0069788139354241,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2183406369507628,
        "cy": 0.310174579855681,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(173, 179, 255)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.323270035311321,
        "cy": 0.29672892977426346,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(244, 255, 0)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.1517983900079722,
        "cy": 0.3167637370302294,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.2581220900439045,
        "cy": 0.10676688762546094,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.4273970280186117,
        "cy": 0.9602784556441973,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 193, 18)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.6422843132589617,
        "cy": 0.4632572016606067,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.0060282448073545,
        "cy": 0.08574633516441488,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.691599443605598,
        "cy": 0.14468222258877006,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.6790988231638626,
        "cy": 0.397108966431434,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(247, 0, 0)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.11655596873639196,
        "cy": 0.6727483032591668,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(255, 105, 180)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.2547136798425078,
        "cy": 0.269304389744781,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(0, 19, 254)",
        "color_stroke": "rgb(0, 193, 18)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.4176581134313535,
        "cy": 0.16556699586394696,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(247, 0, 0)",
        "color_stroke": "rgb(169, 169, 169)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 0.1650265494490477,
        "cy": 0.24948660852094873,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(238, 130, 238)",
        "color_stroke": "rgb(205, 143, 64)",
        "stroke_width": 1
      },
      {
        "name": "",
        "package_version": null,
        "object_class": "plot_data.plot_data.Point2D",
        "type": "point",
        "cx": 1.199875506370717,
        "cy": 0.21447739244007036,
        "shape": "circle",
        "size": 2,
        "color_fill": "rgb(19, 240, 240)",
        "color_stroke": "rgb(255, 135, 0)",
        "stroke_width": 1
      }
    ],
    "attribute_list": [
      {
        "name": "cx",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "cy",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "size",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      },
      {
        "name": "color_fill",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "color"
      },
      {
        "name": "color_stroke",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "color"
      },
      {
        "name": "stroke_width",
        "package_version": null,
        "object_class": "plot_data.plot_data.Attribute",
        "type": "float"
      }
    ],
    "line_color": "rgb(0, 0, 0)",
    "line_width": 0.5,
    "disposition": "vertical",
    "to_disp_attributes": [
      "cx",
      "cy",
      "color_fill",
      "color_stroke"
    ],
    "type": "ParallelPlot"
  }
]
  var number_plot_data = D3Data.length
  
  var plot_data = new ParallelPlot(D3Data, width, height, 1000, true, 0, 0);
  plot_data.define_canvas();
  plot_data.draw_initial();
  plot_data.mouse_interaction(plot_data.isParallelPlot); //true if parallel plot, false otherwise

</script>
